<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.hitemni" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-permission android:name="android.permission.INTERNET" />

        <activity
            android:name="com.facebook.LoginActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".Accueil"
            android:label="@string/title_activity_accueil" >
        </activity>
        <activity
            android:name=".Ecole"
            android:label="@string/title_activity_ecole" >
        </activity>
        <activity
            android:name=".EventEcole"
            android:label="@string/title_activity_event_ecole" >
        </activity>
        <activity
            android:name=".Favoris"
            android:label="@string/title_activity_favoris" >
        </activity>
        <activity
            android:name=".RechercheFavoris"
            android:label="@string/title_activity_recherche_favoris" >
        </activity>
        <activity
            android:name=".GeolocalisationFavoris"
            android:label="@string/title_activity_geolocalisation_favoris" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ProfilPerso"
            android:label="@string/title_activity_profil_perso" >
        </activity>
        <activity
            android:name=".ExperiencePro"
            android:label="@string/title_activity_experience_pro" >
        </activity>
        <activity
            android:name=".Messages"
            android:label="@string/title_activity_messages" >
        </activity>
        <activity
            android:name=".CV"
            android:label="@string/title_activity_cv" >
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Localisation"
            android:label="@string/title_activity_localisation" >
        </activity>
    </application>

</manifest>
